.Meaning {
    color: #3f2de2;
    text-align: center;
}
h3 {
    color: black;
    border: 1px solid #3f2de2;
    padding: 18px;
    display: block;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
}