.Phonetic a {
    border: 1px solid #a8a6a6;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
    font-size: 14px;
    font-weight: 400;
}
.Phonetic a:hover {
    background: #401cc5;
    color: white;
}
.Phonetic {
    font-size: 14px;
    height: 40px;
}